*
!README.md 
!LICENSE
!.i3
!.i3/config
!.zshrc
!.gitignore
!.xinitrc
!.config
!.config/compton.conf
!.images
!.images/logo
!.images/wallpaper
!.images/logo/*
!.images/wallpaper/*
!.config/nitrogen
!.config/nitrogen/*